<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
    <title>Lisää uusi kurssi</title>
</head>
<body>
<div class="container">
<h1>Lisää uusi kurssi sivulle</h1>
<form action="#" th:object="${moodlecourse}" th:action="@{index}" method="post">
<div class="form-group">
<label for="name">Anna kurssille nimi</label>
<input class="form-control" type="text" id="name" th:field="*{courseName}" />
</div>
<div class="form-group">
<label for="link">Laita tähän kurssin linkki</label>
<input class="form-control" type="text" id="link" th:field="*{courseLink}" />
</div>
<div class="form-group">
<input class="btn btn-default" type="submit" value="Save"></input>
</div>
</form>
</div>
</body>
</html>