<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Server programming</title>
</head>
<body>
<h1>Add a new book to the booklist</h1>
<form action="#" th:object="${moodlecourse}" th:action="@{/index}" method="post">
<input type="hidden" th:field="*{id}" />
<input type="text" th:field="*{courseName}" />
<input type="text" th:field="*{courseLink}" />
<input type="submit" class="btn btn-success" value="Save"></input>
</form>
</body>
</html>