<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
    <meta charset="UTF-8">
    <title>Server programming</title>
    <style>
    body {
    	margin-left: 100px;
    }
    </style>
</head>
<body>
<h1>Moodle kurssit</h1>
<table class="table table-striped">
	<tr>
		<th>Kurssi</th>
	</tr>
	<tr th:each = "course : ${courses}">
	<td><a class="btn btn-success" th:text="${course.courseName}" th:href="${course.courseLink}" target="_blank"></a></td>
	<td><a th:href="@{/edit/{id}(id=${course.id})}" class="btn btn-danger">Editoi tätä kurssia</a></td>
	<td><a th:href="@{/delete/{id}(id=${course.id})}" class="btn btn-danger">Poista tämä kurssi</a></td>
</table>
<h1>Lisää uusi kurssi listaan</h1>
<a href="/addcourse" class="btn btn-success">Lisää tästä uusi kurssi</a>
</body>
</html>