<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
    <title>Server programming</title>
    <style>
    body {
    background-color:#ffffff;
    margin-left:15px;
    }
    </style>
</head>
<body>
<h1>Kirjautuminen</h1>
<div th:if="${param.error}">
Väärä käyttäjätunnus tai salasana.
</div>
<form th:action="@{/login}" method="post">
<div class="form-group">
<div><label> Käyttäjätunnus : <input class="form-control" type="text" name="username"/> </label></div>
</div><div class="form-group">
<div><label> Salasana : <input class="form-control" type="password" name="password"/> </label></div>
</div>
<div><input type="submit" value="Kirjaudu sisään"/></div>
<div style="margin-top:50px;">
<h3>Link to github</h3>
<a style="margin-left:10px;" href="https://github.com/TomasKukk/moodle_courses" target="_blank"><img src="img/github_icon.png" /></a>
</div>
</form>
</body>
</html>
